:root {
  --active-player-color: #eb3b5a;
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
}
h1 {
  text-align: center;
  margin: 20px 0 20px 0;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 4px solid black;
  width: 700px;
  background-color: rgb(74, 74, 198);
}
#whosturn {
  font-size: 27px;
}
.turn {
  color: #eb3b5a;
}
.num {
  color: #eb3b5a;
  font-size: 45px;
}
ul {
  display: grid;
  place-items: center;
}
ul p {
  margin: 5px;
  width: 75px;
  height: 75px;
  border: 4px solid black;
  border-radius: 100px;
  background-color: white;
}
ul:hover {
  cursor: pointer;
  background-color: var(--active-player-color);
}
@media (max-width: 700px) {
  .board {
    width: 500px;
  }
  ul p {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 520px) {
  .board {
    width: 400px;
  }
  ul p {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 420px) {
  .board {
    width: 320px;
  }
  ul p {
    width: 30px;
    height: 30px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.581);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  padding: 6rem;
  z-index: 10;
  font-size: 50px;
  color: var(--active-player-color);
  text-align: center;
  font-weight: bold;
}
span {
  color: #2ecc71;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}
.hidden {
  display: none;
}
